*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild

/Section */*.iml
/Section */.gradle
/Section */local.properties
/Section */.DS_Store
/Section */build
/Section */captures
/Section */.externalNativeBuild
/Section */.idea/
